[project]
	description = http://www.complang.tuwien.ac.at/franz/progspr13s3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wokung
[access "refs/for/refs/*"]
	read = group user/wokung
	push = group user/wokung
	label-Code-Review = -2..+2 group user/wokung
	label-Verified = -1..+1 group user/wokung
	rebase = group user/wokung
	removeReviewer = group user/wokung
	submit = group user/wokung
[access "refs/heads/*"]
	read = group user/wokung
	create = group user/wokung
	push = +force group user/wokung
	pushMerge = group user/wokung
[access "refs/tags/*"]
	push = +force group user/wokung
	pushTag = group user/wokung
	pushSignedTag = group user/wokung
